@import "../UI/UI.css";
@import "../UI/font/stylesheet.css";

.bigContainer {
  position: fixed;
  z-index: 470;
  padding: 20px 20px;
  height: 100vh;
  width: 100vw;
}
.container {
  position: absolute;
  height: 100vh;
  display: grid;
  /* margin: 0px 0px 15px 0vw; */
  font-size: 14px;
  overflow-y: scroll;
}

.head {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
}

h1 {
  justify-self: flex-start;
  position: absolute;
  top: calc(var(--edge));
  left: calc(var(--edge) + var(--panelWidth) + 20px);
  font-size: 7vw;
  letter-spacing: -0.3vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  margin: 0;
  font-family: "ekodigital";
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.HomeCD {
  overflow: visible;
  height: 160px;
  position: absolute;
}

/* pages */
.abt {
  width: 100vw;
  grid-template-columns: repeat(20, 20%);
  grid-template-rows: 1fr auto 1fr;
  /* column-gap: 20px; */
  /* row-gap: 45px; */
}

.str {
  width: 100vw;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 34% 60% 6%;
  column-gap: 20px;
}

.cnt {
  width: 100vw;
}
.hom {
  pointer-events: none;
}

.eko {
  height: min-content;
  width: fit-content;
  display: flex;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.eko-thumb {
  font-family: "ekodigital";
  font-weight: 400;
  font-style: normal;
  font-size: 270px;
  justify-self: flex-start;
  border-right: 1px solid #ebebeb;
  letter-spacing: -15px;
  padding-right: 15px;
  text-shadow: 1px 1px 13px #ebebeb;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.desc {
  padding-left: 20px;
  line-height: 25px;
  align-self: center;
  font-style: italic;
}
.title {
  padding: 0.5% 0;
  font-style: normal !important;
  vertical-align: middle;
}
.title p {
  align-self: center;
  display: inline-block;
  vertical-align: baseline;
  padding: 0 10px;
  margin-left: 10px;
  text-shadow: 1px 1px 3px rgba(235, 235, 235, 0.5);
  background-color: #5e5e5e67;
  -webkit-box-shadow: 0px 3px 10px 1px #5e5e5e67;
  -moz-box-shadow: 0px 3px 10px 1px #5e5e5e67;
  box-shadow: 0px 3px 10px 1px #5e5e5e67;
}
.buyBtn {
  padding: 5px 9px;
  font-size: 10px;
  font-style: normal !important;
  font-weight: 800;
  background-color: #c94343;
  color: #ebebeb;
  cursor: pointer;
  display: inline;
  justify-self: flex-end;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.feed {
  border-radius: 1px;
  padding: 2em 2em;
  max-width: 100%;
  max-height: 100%;
  line-height: 2;
}

img {
  height: max-content;
}

.under {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.small {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.large {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.med {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}

.pic {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
