@import "../UI/UI.css";
@import "../UI/font/stylesheet.css";

.bigContainer {
  position: fixed;
  z-index: 470;

  height: 100vh;
  width: 100vw;
}
.container {
  position: absolute;
  height: 100vh;
  display: grid;
  padding: 20px 20px;
  /* margin: 0px 0px 15px 0vw; */
  font-size: 14px;
  overflow-y: scroll;
}

.head {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
}

h1 {
  justify-self: flex-start;
  position: absolute;
  /* top: calc(var(--edge)); */
  /* left: calc(var(--edge) + var(--panelWidth) + 20px); */
  font-size: 7vw;
  letter-spacing: -0.3vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  margin: 0;
  font-family: "ekodigital";
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.HomeCD {
  overflow: visible;
  height: 160px;
  position: absolute;
}

/* pages */
.abt {
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* column-gap: 20px; */
  /* row-gap: 45px; */
}

.str {
  width: 100vw;
  display: flex !important;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.cnt {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.notfound {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.feed {
  border-radius: 1px;
  padding: 2em 2em;
  max-width: 100%;
  max-height: 100%;
  line-height: 2;
  overflow-y: scroll;
}
