.bigContainer {
  position: fixed;
  z-index: 70;
}
.container {
  height: 100vh;
  display: grid;
  margin: 0px 0px 15px 0vw;
  color: #ebebeb;
  font-size: 14px;
}
/* pages */
.abt {
  width: 200vw;
  grid-template-columns: repeat(50, 20%);
  grid-template-rows: 34% 60% 6%;
  /* column-gap: 20px; */
  /* row-gap: 45px; */
}

.str {
  width: 100vw;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 34% 60% 6%;
  column-gap: 20px;
}

.eko {
  height: min-content;
  width: fit-content;
  display: flex;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.eko-thumb {
  font-family: "ekodigital";
  font-weight: 400;
  font-style: normal;
  font-size: 270px;
  justify-self: flex-start;
  border-right: 1px solid #ebebeb;
  letter-spacing: -15px;
  padding-right: 15px;
  text-shadow: 1px 1px 13px rgba(235, 235, 235, 0.5);
}

.desc {
  padding-left: 20px;
  line-height: 25px;
  align-self: center;
  font-style: italic;
}
.title {
  padding: 0.5% 0;
  font-style: normal !important;
  vertical-align: middle;
}
.title p {
  align-self: center;
  display: inline-block;
  vertical-align: baseline;
  padding: 0 10px;
  margin-left: 10px;
  text-shadow: 1px 1px 3px rgba(235, 235, 235, 0.5);
  background-color: #a1a1a167;
}
.buyBtn {
  padding: 5px 9px;
  font-size: 10px;
  font-style: normal !important;
  font-weight: 800;
  background-color: #c94343;
  /* background-color: #00000000; */
  color: #ebebeb;
  cursor: pointer;
  display: inline;
  justify-self: flex-end;
  /* text-shadow: 1px 1px 3px rgba(39, 39, 39, 0.5); */
}

.buyBtn:hover {
  background-color: #62b9ff67;
}

.head {
  position: fixed;
  width: max-content;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
}

h1 {
  position: fixed;
  z-index: -20;
  top: -0vw;
  font-size: 15vw;
  letter-spacing: -1vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #444444;
  margin: 0;
  font-family: "ekodigital";
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.HomeCD {
  margin-top: 30px;
  margin-left: 20px;
  width: 200%;
  overflow: visible;
}

.feed {
  color: #ffffff;
  border-radius: 1px;
  /* border: 1px dashed #5f5f5f; */
  /* margin: 10px auto; */
  padding: 2em 2em;
  max-width: 100%;
  max-height: 100%;
  line-height: 2;
  overflow: scroll;
}

img {
  height: max-content;
}

.under {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.small {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.large {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.med {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}

.pic {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
