.container {
  position: fixed;
  z-index: 1;
}

h1 {
  font-size: 18vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #eca72c;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.HomeCD {
  margin-top: 30px;
  margin-left: 20px;
}
