button {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  color: rgba(0, 0, 0, 0) !important;
}
#nabla-logo {
  display: block;
  margin: auto;
  order: 1;
}

#logo {
  background: url({logo}) no-repeat;
  cursor: pointer;
  border: none;
  height: 30px;
  position: fixed;
  left: 79px;
  z-index: 90;
  top: 50%;
}
