svg a {
  margin: 0;
  fill: #a1a1a1;
}

svg a:hover {
  fill: #ffffff;
}

text {
  font-size: 95px;
}

.nav .li {
  float: left;
  clear: left;
  height: max-content;
  padding: 3px 0;
  width: 12vw;
  cursor: none;
}

.nav .li:hover {
  background-color: #eca52c67;
  color: rgb(255, 255, 255);
}
.active {
  background-color: #a1a1a167;
  color: rgb(255, 255, 255);
}

.nav .li:hover > svg {
  fill: #ffffff;
}
.w {
  text-indent: 15px;
}

.nav {
  list-style-type: none;
  padding: 0;
  text-indent: 5px;
}

a {
  color: #a1a1a1;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.group {
}
.arrow {
  fill: #a1a1a1;
  height: 12px;
  float: right;
}

.slider {
  top: 70px;
  bottom: 0px;
  height: 300px;
  width: fit-content;
  position: fixed;
  left: 81px;
  z-index: 50;
  border: 1px solid #eca72c;
  border-radius: 25px 25px 25px 25px;
  /* margin: 10px auto; */
  padding: 2em 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eca72c;
}
.sectionTitle {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.slideTitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  display: none;
}
.slide:hover > .slideTitle {
  display: block;
}
.slide:hover > .sectionTitle {
  display: block;
}
.slide:hover > img,
.slide:hover > a {
  opacity: 0.1;
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.section:hover > img,
.section:hover > a {
  opacity: 0.1;
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.slide {
  width: 225px;
  flex-shrink: 0;
  height: 112.5px;
  margin: 18px auto;
  scroll-behavior: smooth;
  cursor: pointer;
  text-align: -webkit-center;
  text-align: center;
}

.slide img:active {
  border: 1px solid #f91a2a;
  border-radius: 5px 5px 5px 5px;
}

.slide img {
  width: 225px;
  height: 112.5px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  vertical-align: middle;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
}

.slide > div {
  scroll-snap-align: start;
}

.section {
  text-align: center;
  margin-top: 5vh;
}
