* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: #0d0d0d;
  }
}
  @media (prefers-color-scheme: light) {  
      :root {
        --theme: #ededed;
      }

      html {
        background-color: #ededed;
      }
    }

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

.r3fCanvas {
  position: unset !important;
  z-index: -100;
  /* height: 100vh;
  width: 100vw; */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .r3fCanvas {
   overflow: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .r3fCanvas {
    overflow: hidden;
  }
html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
  #root {
    user-select: none;
  }

  canvas{
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
  }
            .stats {
              display: flex;
              position: fixed;
            }
}

.htmlSpinner {
  display: none !important;
}
