* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: rgb(200, 200, 200);
  background: radial-gradient(
    circle,
    rgba(200, 200, 200, 1) 0%,
    rgba(38, 38, 38, 1) 100%
  );
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a1a1a1;
}

a {
  text-decoration: none;
  color: #a1a1a1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
