* {
  --panelWidth: 180px;
  --edge: 70px;
}
a .SvgNabla {
  margin: 0;
  fill: #444444;
  background: rgba(255, 255, 255, 0);
  /* backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px; */
  -webkit-filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  overflow: visible;
}

a .SvgNabla:hover > path {
  fill: rgba(0, 0, 0, 0);
  stroke: #444444;
  stroke-width: 10px;
  overflow: visible;
}

a .SvgNabla text {
  font-size: 95px;
}

.li {
  font-size: 0.81vw;
  vertical-align: middle;
  float: left;
  clear: left;
  height: min-content;
  margin: 3px 0;
  width: 100%;
  /* ^Same as .header and .header2 */
  cursor: none;
  text-shadow: 1px 1px 3px rgba(39, 39, 39, 0.5);
  display: flex;
}

.li:hover {
  background-color: #62b9ff67;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  -moz-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
}
.active {
  background-color: #a1a1a167;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  -moz-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
}

.li:hover > svg {
  fill: #ffffff;
}
.w {
  text-indent: 15px;
}

a {
  color: #444444;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.arrow {
  fill: #444444;
  height: 12px;
  float: right;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  justify-self: end;
  align-self: center;
}

.Panel {
  width: var(--panelWidth);
  color: #444444;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*Border*/
  --aug-bl: 12px;
  --aug-tl: 12px;
  --aug-br: 35px;
  --aug-tr: 18px;
  --aug-border-all: 1px;
  --aug-border-bg: #444444;
  /*Inlay*/
  --aug-inlay-all: 7px;
  --aug-inlay-bg: linear-gradient(
    320deg,
    rgba(184, 184, 184, 0) 40%,
    rgb(195, 195, 195) 100%
  );
}

.a {
  height: min-content;
  padding: 0em 2.5em 2.5em 2.5em;
  position: fixed;
  left: var(--edge);
  z-index: 500;
  top: var(--edge);
  bottom: 0px;
  /* height: fit-content; */
  /* padding: 15px 0; */
  text-indent: 5px;
}

.b {
  padding: 2.5em;
  position: absolute;
  left: calc(var(--edge) + var(--panelWidth) + 20px);
  z-index: 510;
  /* top: 230px; */
  top: 90px;
}

.header {
  margin: 0 0 10px 0;
  padding: 2em 0px 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 118px;
  /* ^Same as .header */
  text-indent: 5px;
  border-bottom: 1px solid #444444;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eca72c;
}

.spinner {
  width: 35px;
  height: 35px;
  background: none;
  position: fixed;
  z-index: 500;
  top: calc(var(--edge) + 15px);
  left: calc(var(--edge) + 100px);
}
