a .SvgNabla {
  margin: 0;
  fill: #444444;
  background: rgba(255, 255, 255, 0);
  /* backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px; */
  -webkit-filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  overflow: visible;
}

a .SvgNabla:hover > path {
  fill: rgba(156, 38, 38, 0);
  stroke: #444444;
  stroke-width: 10px;
  overflow: visible;
}

a .SvgNabla text {
  font-size: 95px;
}

.nav .li {
  font-size: 0.81vw;
  vertical-align: middle;
  float: left;
  clear: left;
  height: min-content;
  padding: 3px 0;
  width: 100%;
  /* ^Same as .header and .header2 */
  cursor: none;
  text-shadow: 1px 1px 3px rgba(39, 39, 39, 0.5);
}

.nav .li:hover {
  background-color: #a1a1a167;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  -moz-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
}
.active {
  background-color: #44444467;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  -moz-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
}

.nav .li:hover > svg {
  fill: #ffffff;
}
.w {
  text-indent: 15px;
}

.nav {
  /* height: fit-content; */
  list-style-type: none;
  margin-top: 4.5em;
  padding: 15px 0;
  text-indent: 5px;
}

a {
  color: #444444;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.arrow {
  fill: #444444;
  height: 12px;
  float: right;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
  filter: drop-shadow(1px 1px 3px rgba(39, 39, 39, 0.253));
}

.Panel {
  position: fixed;
  left: 70px;
  z-index: 500;
  top: 70px;
  bottom: 0px;
  height: min-content;
  width: 180px;
  color: #444444;
  /* margin: 10px auto; */
  padding: 0em 2.5em 2.5em 2.5em;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*Border*/
  --aug-bl: 12px;
  --aug-tl: 25px;
  --aug-br: 35px;
  --aug-tr: 20px;
  --aug-border-all: 1px;
  --aug-border-bg: #444444;
  /*Inlay*/
  --aug-inlay-all: 7px;
  --aug-inlay-bg: linear-gradient(
    320deg,
    rgba(184, 184, 184, 0) 40%,
    rgb(195, 195, 195) 100%
  );
}

.header {
  margin: 0;
  padding: 2.5em 0 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  left: -50;
  z-index: 530;
  width: 118px;
  /* ^Same as .header */
  text-indent: 5px;
  border-bottom: 1px solid #444444;
}
.header2 {
  margin: 0;
  padding: 2em 0 0 0;
  position: fixed;
  left: -50;
  z-index: 530;
  width: calc(15vw + 0em);
  /* ^Same as .header */
  text-indent: 5px;
  background-color: rgba(46, 46, 46, 0.575);
  transition: transform 6s ease;
  animation: myanimation 3s;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eca72c;
}
.sectionTitle {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.slideTitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  display: none;
}
.slide:hover > .slideTitle {
  display: block;
}
.slide:hover > .sectionTitle {
  display: block;
}
.slide:hover > img,
.slide:hover > a {
  opacity: 0.1;
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.section:hover > img,
.section:hover > a {
  opacity: 0.1;
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.slide {
  width: 225px;
  flex-shrink: 0;
  height: 112.5px;
  margin: 18px auto;
  scroll-behavior: smooth;
  cursor: pointer;
  text-align: -webkit-center;
  text-align: center;
}

.slide img:active {
  border: 1px solid #f91a2a;
  border-radius: 5px 5px 5px 5px;
}

.slide img {
  width: 225px;
  height: 112.5px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  vertical-align: middle;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  -moz-box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
  box-shadow: 0px 3px 10px 1px rgba(39, 39, 39, 0.253);
}

.slide > div {
  scroll-snap-align: start;
}

.section {
  text-align: center;
  margin-top: 5vh;
}
